<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <ul>
    <li>
      <a href="/movies">Quiero ver todas las peliculas en cartelera (Ejercicio 1)</a>
    </li>
    <li>
      <a href="/movies/new">Quiero ver las últimas 5 películas (Ejercicio 3)</a>
    </li>
    <li>
      <a href="/movies/recommended">Quiero ver las peliculas con rating mayor o igual a 8 (Ejercicio 4)</a>
    </li>
    <li>
      <a href="/movies/search">Quiero buscar una película (Ejercicio 5)</a>
    </li>
    <li>
      <a href="/movies/create">Quiero dar de alta una pelicula nueva</a>
    </li>
  </ul>
</body>

</html>